/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #2c3531; /* Gunmetal color */
    color: #fff; /* White text color */
}

#sidebar {
    background-color: #23ce6b; /* White background color */
    color: #000; /* Black text color */
    padding: 20px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

#sidebar img {
    max-width: 100%; /* Make the image fit inside the sidebar */
    align-self: flex-start; /* Position the image at the top of the sidebar */
}

#content {
    flex: 1;
    display: flex;
    padding: 30px;
    flex-direction: column;
    color: #ccc;
}

/* Header Styles */
h1 {
    color: #ccc;
}

h2 {
    color: #000; /* Black text color */
}

/* Navigation Links */
a {
    color: #2c3531;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

#container {
padding: 30px;

}

.budget-tracker {
    border-collapse: collapse;
    min-width: 750px;

}

.budget-tracker * {
    font-family: sans-serif;
}

.budget-tracker th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 2px solid #A846A0 ;
}

.budget-tracker td {
    padding: 5px;
}

.input,
.delete-entry {
    height: 30px;
    font-size: 13px;
    padding: o 10px;
    margin: 0;
    box-sizing: border-box;
}

.input {
    border: 1px solid;
    border-radius: 5px;
    outline: none ;
}

.input focus {
    border-color: #adacad;
}

.delete-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: none;
    color: #A846A0;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.delete-entry hover {
   background: rgb(255, 0, 0);
}

.controls,
.summary {
    text-align: right;
}